# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
build/
*.egg-info/
dist/
*.egg

# Tests
.pytest_cache/
.coverage
htmlcov/
*.cover

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Data files
*.tsv.gz
.*.tsv.gz